.breadcrumb {
  margin-bottom: $spacer;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  color: rgba(55, 57, 76, 0.54);
  a {
    color: theme-color('link-color');
  }
  li {
    &:not(:first-of-type) {
      padding-left: .625rem;
      &:before {
        padding-right: .325rem;
        font-family: "Material Icons";
        content: "\E5CC";
        vertical-align: middle;
      }
    }
  }
}