.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100px;
}

.navbar--white .btn-search {
  background: rgba(208, 208, 213, .2);
  border-radius: 100px;
  .material-icons {
    color: rgba(88, 89, 105, .54);
  }
}

.btn-dark-transparent {
  text-transform: uppercase;
  background: rgba(1, 1, 1, .24);
  border-radius: 5px;
  color: #FFFFFF;
}

@include media-breakpoint-down(sm) {
  .btn-search {
    display: none;
  }
}