.content-fixed, .content-dashboard {
  .card-group {
    margin-bottom: $grid-gutter-width;
  }
  .card {
    margin-bottom: $grid-gutter-width;
    .card-title {
      font-weight: 400;
      font-size: 1.5rem;
      letter-spacing: 0.0625rem;
      margin-bottom: 0;
    }
    .card-subtitle {
      opacity: 0.54;
      font-size: 0.875rem;
      color: theme-color('muted-color');
      letter-spacing: 0.98px;
      text-transform: uppercase;
      margin-top: 0;
    }
    &.card-dark {
      background: theme-color('dark');
      color: #ffffff;
      border-radius: 8px;
    }
  }
}