.bg-primary .container-user-info {
  color: #ffffff;
  img {
    background-color: #ffffff;
    border-radius: 70px;
    padding: 2px;
    position: relative;
    width: 64px;
    margin-right: 1rem;
  }
}