.testimonial-img {
  width: 60px !important;
}

.author-img {
  background-color: #fff;
  border-radius: 70px;
  margin-top: -30px;
  padding: 5px;
  position: relative;
  width: 70px;
  margin-right: .625rem;
}