.container,
.container--max {
  max-width: 1400px;
}

.container--max.container--wide {
  max-width: 1400px !important;
}


.content-fixed {
  padding-bottom: $grid-gutter-width;
}

.content-dashboard {
  padding: 1rem 0;
}

.page-banner {
  margin-top: $navbar-height;
  height: 300px;
  background: theme-color('primary');
  text-align: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 91px;
  height: 91px;
  background-color: theme-color('dark');
  color: #ffffff;
}

.text-muted {
  color: rgba(55, 57, 76, .54) !important;
}

.text-light {
  color: rgba(255, 255, 255, .54) !important;
}

.subscribe {
  padding: 2rem;
  background: theme-color('primary');
  color: #ffffff;
  border-radius: 5px;
  img {
    margin-right: 2rem;
  }
  @include media-breakpoint-down(md) {
    img {
      margin-bottom: 2rem;
    }
    .subscribe-text {
      margin-bottom: 2rem;
    }
  }
}

.h-vh {
  height: 100vh;
}