.learning-video {
  background-color: #212121;
  padding: 0;
  text-align: center;
}

.learning-header {
  background: #ffffff;
  padding: $spacer;
  border-bottom: 1px solid theme-color('border-color');
  margin-bottom: $spacer;
}