.navbar {
  background: #ffffff;
  height: $navbar-height;
  display: flex;
  align-items: center;
  z-index: 1;
  .nav-item {
    &.notifications, &.message, &.emails {
      .dropdown-menu { padding: 0; border-top: 0; }
      #notifications-ul {
        background: theme-color('primary-dark');
        border-radius: 0;
        .nav-link {
          &:first-of-type { padding-left: 0.5rem }
          color: rgba(255,255,255, 0.54);
          &.active {
            color:#fff;
          }
        }
      }
      .dropdown-toggle::after {
       content: none;
     }
     a:focus {
       outline: none;
     }
     .tab-content {
       width: 280px;
       padding: 0;
       ul.list-group-flush {
         li.list-group-item {
           &:not(:last-of-type) {
             background: rgba($body-bg, .5);
             border-color: $border-color;
           }
           &:hover {
             color: $body-color !important;
           }
         }
       }
     }
   }
   &.nav-divider {
    position: relative;
    width:2px;
    height:30px;
    align-self: center;

    &:before {
      position: absolute;
      content: '';
      left:0;
      height: 100%;
      width:1px;
      background: rgba(255,255,255, .18);
    }
    &:after {
      position: absolute;
      content: '';
      right: 0;
      height: 100%;
      width: 1px;
      background: rgba(0, 0, 0, .24);
    }
  }
}
}

.dropdown-toggle.dropdown-clear-caret {
  padding-right: 0 !important;
  text-decoration: none;
  &::after {
    border: 0 !important;
  }
}