.mdk-header {
  z-index: 1032;
}

.mdk-drawer-top-navbar {
  margin-top: $navbar-height;
}
.top-navbar {
  padding-top: $navbar-height + 20px;
  &--soft {
    padding-top: $navbar-height;
  }
}

.ls-top-navbar {
  padding-top: calc(#{$navbar-height} + #{$grid-gutter-width});
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-only($breakpoint) {
    .ls-top-navbar-#{$breakpoint} {
      top: $navbar-height !important;
    }
  }
  @include media-breakpoint-up($breakpoint) {
    .ls-top-navbar-#{$breakpoint}-up {
      top: $navbar-height !important;
    }
  }
}

.navbar {
  height: $navbar-height;
  display: flex;
  align-items: center;
  z-index: 5;

  .navbar-brand {
    font-size: 28px;
    letter-spacing: 0;
    font-weight: bold;
    & + small {
      margin-top: -5px;
      display:block;
    }
  }

  .navbar-nav {
    height: 100%;

    .nav-item {
      display: flex;
      align-items: center;
      .nav-link {
        text-transform: uppercase;
      }
      &.nav-active .nav-link::before {
        border-bottom-width: 4px;
      }
    }
    .dropdown-menu {
      position: absolute;
    }
    .dropdown-menu-right {
      right: 0;
      left: auto;
    }
  }

  .navbar-toggler {
    margin-right: $navbar-padding-x;
  }

  &.navbar--primary {
    background: theme-color('primary');
    color: #ffffff;

    .btn-search {
      opacity: 1;
      background-color: #4E8DCF;
      color: #ADCAE8;
    }
    .navbar-nav.navbar-right {
      .dropdown-toggle {
        color: rgba(255, 255, 255, .54);
        &:hover {
          color: rgba(255, 255, 255, .74);
        }
      }
      .dropdown.show {
        .dropdown-toggle {
          color: rgba(255, 255, 255, 1) !important;
        }
      }
      .nav-item.nav-dropdown .dropdown-menu {
        .material-icons {
          color: rgba(55, 57, 76, 0.54);
        }
        .dropdown-head {
          background: #ffffff;
          color: theme-color('text-color');
          border-bottom: 1px solid theme-color('border-color');
          &--inner {
            padding-top: $spacer;
            padding-left: $spacer;
            padding-right: $spacer;
          }
        }
        .nav-tabs {
          .nav-link {
            &.active {
              background: none;
              padding-bottom: .625rem;
              border-bottom: .125rem solid theme-color('primary');
              .material-icons {
                color: theme-color('primary');
              }
            }
            &:not(.active) {
              padding-bottom: .75rem;
            }
          }
        }
      }
    }
    .navbar-toggler {
      color: rgba(255, 255, 255, 1);
    }
    .navbar-brand {
      &:hover {
        color: rgba(255, 255, 255, .74);
      }
    }
  }

  &.bg-white {
    background: #ffffff;
    color: theme-color('text-color');
    .text-light {
      color: theme-color('text-color') !important;
    }
    .dropdown-toggle:focus {
      outline: none;
    }
    .navbar-nav.notifications {
      .dropdown-toggle {
        color: rgba(55, 57, 76, .24);
        &:hover,
        &:focus {
          color: rgba(55, 57, 76, .54);
        }
      }
      .dropdown.show {
        .dropdown-toggle {
          color: theme-color('primary') !important;
        }
      }
      .nav-item.nav-dropdown .dropdown-menu {
        .material-icons {
          color: rgba(255, 255, 255, 0.54);
        }
        .dropdown-head {
          background: theme-color('primary');
          color: #ffffff;
          box-shadow: 0 4px 8px -2px rgba(55, 57, 76, .54);
        }
        .nav-tabs {
          .nav-link {
            &.active {
              background: none;
              padding-bottom: .625rem;
              border-bottom: .125rem solid #ffffff;
              .material-icons {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .navbar-toggler {
      color: theme-color('primary');
    }
  }

  .navbar-nav.notifications {
    .dropdown {
      height: 30px;
      line-height: 30px;
    }
    .dropdown-toggle {
      &:hover,
      &:focus {
        outline: none;
      }
    }
    .nav-item {
      &:not(:last-of-type) {
        margin-right: 1.625rem;
        @include media-breakpoint-down(sm) {
          margin-right: .8rem;
        }
      }
    }
    .nav-item.nav-dropdown .dropdown-menu {
      margin-top: 5px;
      .nav-tabs {
        border: 0;
      }
      .list-group {
        width: 350px;
        .list-group-item {
          padding: 1rem $spacer;
        }
      }
      .dropdown-head {
        background: theme-color('primary');
        color: #ffffff;
        box-shadow: 0 4px 8px -2px rgba(55, 57, 76, .54);
        &--inner {
          padding-top: $spacer;
          padding-left: $spacer;
          padding-right: $spacer;
        }
      }
      .nav-tabs {
        .nav-link {
          &.active {
            background: none;
            padding-bottom: .625rem;
            border-bottom: .125rem solid #ffffff;
            .material-icons {
              color: #ffffff;
            }
          }
          &:not(.active) {
            padding-bottom: .75rem;
          }
        }
      }
    }
  }

  &.navbar-fixed {
    .navbar-brand {
      color: theme-color('text-color');
      color: #585969;
      font-weight: bold;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 1.1rem;
          color: rgba(55, 57, 76, .54);
          letter-spacing: 0.0625rem;
          padding: 0 1.2rem;
          height: $navbar-height;
          line-height: $navbar-height;
        }
        &.nav-active {
          .nav-link {
            color: theme-color('text-color') !important;
            &:before {
              content:'';
              height:100%;
              width:100%;
              position: absolute;
              top: 0;
              left:0;
              right:0;
              margin-top: 1px;
              border-bottom: 3px solid theme-color('primary');
            }
          }
        }
      }
      .dropdown-menu { margin-top: 0; }
    }
  }
}

.nav-item.nav-dropdown {
  .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-item {
      margin: 0 !important;
    }
    a:focus {
      outline:none;
    }
    .nav-link {
      padding: 0;
      border: 0;
      &:hover {
        border: 0;
      }
    }
  }
  .dropdown-menu {
    padding: 0;
  }
}

.navbar-light {
  border-bottom: 1px solid $border-color;
}

.dropdown-toggle.dropdown-clear-caret {
  padding-right: 0 !important;
  text-decoration: none;
  &::after {
    border: 0 !important;
    content: none;
  }
}

.mdk-header {
  height: $navbar-height !important;
}

.mdk-header--fixed .navbar-fixed.bg-white {
  border-bottom: 1px solid #efefef;
}