.table {
  thead th {
    border-top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    color: rgba(55, 57, 76, .54);
    letter-spacing: 0.98px;
    vertical-align: middle;
  }

}