@import "bootstrap/scss/functions";
@import "bootstrap-color-yiq";

@import "variables"; // APP VARIABLES

@import "bootstrap-core"; // BS
@import "bootstrap-dependencies"; // BS

// MDK
@import 'material-design-kit/src/style';

@import "@material/switch/mdc-switch";
@import "@material/snackbar/mdc-snackbar";

// Select2
@import "select2/src/scss/core";
@import "select2-vars";
@import "select2-bootstrap-theme/src/select2-bootstrap.scss";
@import "select2-after";

// Material Icons
@import 'material-icons';

// Custom Styling
@import "activity-timeline";
@import "breadcrumb";
@import "button";
@import "card";
@import "chart";
@import "container";
@import "drawer/drawer";
@import "form";
@import "helpers";
@import "image";
@import "layout";
@import "learning";
@import "list";
@import "media";
@import "navbar";
@import "social";
@import "snackbar";
@import "table";
@import "tickets";
@import "ui-loaders";
@import "ui-grid";

// DROPDOWN

.dropdown-toggle[data-caret="false"] {
  &::before,
  &::after {
    display: none;
  }
}

.dropdown-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  display:block;
  text-align: center;
  font-size: .65rem;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background: #efefef;
  &.dropdown-badge-success {
    background: theme-color('success');
    color: #fff;
  }
}

.dropdown-bullet {
  position: absolute;
  top: 0px;
  right: 0px;
  display:block;
  text-align: center;
  font-size: .65rem;
  width: 5px;
  height: 5px;
  line-height: 5px;
  border-radius: 50%;
  background: #efefef;
  &.dropdown-bullet-danger {
    background: theme-color('danger');
  }
}

// NAVBAR

.navbar .btn-search {
  opacity: 0.2;
  background: #d0d0d5;
  border-radius: 100px;
  width: 37px;
  height: 37px;
  color: #585969;
  text-decoration: none;
  i {
    font-size: 24px;
  }
}

// DRAWER

.mdk-drawer {
  z-index: 3;
}

// FOOTER

.footer {
  background-color: #585969;
  padding: 2rem 0;
  color: rgba(255,255,255,.54);
  letter-spacing: 1.12px;
  h4 {
    font-size: 1rem;
    color: #fff;
    opacity: .24;
  }
  ul {
    list-style-type: none;
    padding: .5rem 0 0;
    li {
      padding: .5rem 0;
    }
  }
  a {
    color: #fff;  
  }
  .rounded-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,.24);
    text-decoration: none;
    color: rgba(255,255,255, .5);
    vertical-align: middle;
    font-size:20px;
    i.material-icons {
      height: 50px;
      line-height: 50px;
    }
    &:hover {
      color: #ffffff;
    }
  }
}
.footer-bg-darker {
  background-color: #42434F;
  padding: 1.5rem 0;
  .rounded-circle {
    background: rgba(255,255,255,.24);
  }
}

// LAYOUT

.container {
  max-width: 940px;
}

// Buttons

.btn-outline-white {
  @include button-outline-variant(#ffffff);
}

// Choose

.vision-choose-headline {
  padding-top: $spacer;
  padding-bottom: $spacer;
  &--bt {
    border-top: 1px solid $border-color;
  }
  p {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    padding-top: $spacer*3;
    padding-bottom: $spacer*3;
  }
  @include media-breakpoint-up(md) {
    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
  }
}

.vision-choose-header,
.vision-choose-demos {
  .container {
    @include media-breakpoint-up(sm) {
      max-width: 540px !important;
    }
    @include media-breakpoint-up(md) {
      max-width: 720px !important;
    }
    @include media-breakpoint-up(lg) {
      max-width: 960px !important;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1140px !important;
    }
  }
}

.vision-choose-header {
  &--border {
    border-bottom: 3px solid #ffffff;
  }
  .navbar {
    padding: 1.5rem 1rem;
    height: auto;
    small {
      font-size: .9rem;
      color: rgba(255,255,255,.8);
    }
  }
  @include media-breakpoint-down(sm) {
    .navbar-brand-container {
      max-width: 80%;
    }
    .btn {
      display: block;
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(md) {
    h1 {
      font-size: 2rem;
    }
  }
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 25px;
    color: rgba(255,255,255,.8);
  }
  h1,
  p {
    hyphens: auto;
  }
  @include media-breakpoint-up(md) {
    .btn + .btn {
      margin-left: 10px;
    }
  }
  @include media-breakpoint-up(lg) {
    .img-fluid {
      position: relative;
      transform: translateX(35px);
    }
  }
}

.vision-choose-demos {
  padding-bottom: $spacer;
  figure {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  figcaption {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #42434F;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }
  figure {
    @include hover {
      figcaption {
        opacity: 1;
      }
    }
  }
}