<div class="page--headline d-flex align-items-center d-print-none mb-3">
  <div class="container">
    <div class="page-section mb-0">
      <h1 class="h2 mb-0">Colors</h1>
      <div class="text-light">Learn how to use our color classes.</div>
    </div>
  </div>
</div>


<div class="container container--wide">
  <ol class="breadcrumb">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="#">UI Components</a>
    </li>
    <li>
      Colors
    </li>
  </ol>

  <div class="card card-colors">
    <div class="card-header">
      <h4 class="card-title">Primary</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-primary"></div>
            <div class="card-footer">
              <div class="mb-1"><code>primary</code></div>
              <span class="text-muted">#2E7CCE</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-primary-dark"></div>
            <div class="card-footer">
              <div class="mb-1"><code>primary-dark</code></div>
              <span class="text-muted">#25364A</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-colors">
    <div class="card-header">
      <h4 class="card-title">Contextual</h4>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-lg-6 col-md-4">
          <div class="card">
            <div class="card-body p-4 bg-success"></div>
            <div class="card-footer">
              <div class="mb-1"><code>success</code></div>
              <span class="text-muted">#7BB859</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-4">
          <div class="card">
            <div class="card-body p-4 bg-warning"></div>
            <div class="card-footer">
              <div class="mb-1"><code>warning</code></div>
              <span class="text-muted">#F5B666</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-4">
          <div class="card">
            <div class="card-body p-4 bg-danger"></div>
            <div class="card-footer">
              <div class="mb-1"><code>danger</code></div>
              <span class="text-muted">#FF3D55</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-4">
          <div class="card">
            <div class="card-body p-4 bg-info"></div>
            <div class="card-footer">
              <div class="mb-1"><code>info</code></div>
              <span class="text-muted">#5DD2BC</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-colors">
    <div class="card-header">
      <h4 class="card-title">
        Utilities
      </h4>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-body-bg"></div>
            <div class="card-footer">
              <div class="mb-1"><code>body-bg</code></div>
              <span class="text-muted">#F9F9F9</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4">
              <hr class="">
            </div>
            <div class="card-footer">
              <div class="mb-1"><code>border-color</code></div>
              <span class="text-muted">#E2E8EE</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-text-color"></div>
            <div class="card-footer">
              <div class="mb-1"><code>text-color</code></div>
              <span class="text-muted">#37394C</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-link-color"></div>
            <div class="card-footer">
              <div class="mb-1"><code>link-color</code></div>
              <span class="text-muted">#44AAED</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-colors">
    <div class="card-header">
      <h4 class="card-title">
        Social
      </h4>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-facebook"></div>
            <div class="card-footer">
              <div class="mb-1"><code>facebook</code></div>
              <span class="text-muted">#3B5998</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-twitter"></div>
            <div class="card-footer">
              <div class="mb-1"><code>twitter</code></div>
              <span class="text-muted">#00ACED</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-instagram"></div>
            <div class="card-footer">
              <div class="mb-1"><code>instagram</code></div>
              <span class="text-muted">#E4405F</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body p-4 bg-dribbble"></div>
            <div class="card-footer">
              <div class="mb-1"><code>dribbble</code></div>
              <span class="text-muted">#EA4C89</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>