<div class="container-fluid">
  <h2>Typography</h2>
  <p class="lead">
    Examples for typography, including global settings, headings, body text, lists, and more.
  </p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Headings</h4>
    </div>
    <div class="card-body">
      <h1>h1. Html heading</h1>
      <h2>h2. Html heading</h2>
      <h3>h3. Html heading</h3>
      <h4>h4. Html heading</h4>
      <h5>h5. Html heading</h5>
      <h6 class="mb-0">h6. Html heading</h6>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Class headings</h4>
    </div>
    <div class="card-body">
      <p class="h1">h1. Class heading</p>
      <p class="h2">h2. Class heading</p>
      <p class="h3">h3. Class heading</p>
      <p class="h4">h4. Class heading</p>
      <p class="h5">h5. Class heading</p>
      <p class="h6 mb-0">h6. Class heading</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Customizing headings</h4>
    </div>
    <div class="card-body">
      <h3 class="mb-0">
        Fancy display heading
        <small class="text-muted">With faded secondary text</small>
      </h3>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Display headings</h4>
    </div>
    <div class="card-body">
      <h1 class="display-1">Display 1</h1>
      <h1 class="display-2">Display 2</h1>
      <h1 class="display-3">Display 3</h1>
      <h1 class="display-4">Display 4</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Lead paragraphs</h4>
    </div>
    <div class="card-body">
      <p class="lead mb-0">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Inline text elements</h4>
    </div>
    <div class="card-body">
      <p>You can use the mark tag to <mark>highlight</mark> text.</p>
      <p><del>This line of text is meant to be treated as deleted text.</del></p>
      <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
      <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
      <p><u>This line of text will render as underlined</u></p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p><strong>This line rendered as bold text.</strong></p>
      <p class="mb-0"><em>This line rendered as italicized text.</em></p>
    </div>
  </div>
  <h2>Text utilities</h2>
  <p class="lead">
    Examples for typography, including global settings, headings, body text, lists, and more.
  </p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Text alignment</h4>
    </div>
    <div class="card-body">
      <p class="text-justify mb-0">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Breakpoints alignment
      </h4>
    </div>
    <div class="card-body">
      <p class="text-left">Left aligned text on all viewport sizes.</p>
      <p class="text-center">Center aligned text on all viewport sizes.</p>
      <p class="text-right">Right aligned text on all viewport sizes.</p>

      <p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
      <p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
      <p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
      <p class="text-xl-left mb-0">Left aligned text on viewports sized XL (extra-large) or wider.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Text wrapping and overflow</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-1 text-nowrap">
          Curabitur blandit tempus ardua ridiculus sed magna.
        </div>
        <div class="col-11">
          <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        For longer content, you can add a <code>.text-truncate</code> class to truncate the text with an ellipsis. Requires <code>display: inline-block</code> or <code>display: block</code>.
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-truncate">
          Praeterea iter est quasdam res quas ex communi.
        </div>
      </div>
      <span class="d-inline-block text-truncate" style="max-width: 150px;">
        Praeterea iter est quasdam res quas ex communi.
      </span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Text transform</h4>
    </div>
    <div class="card-body">
      <p class="text-lowercase">Lowercased text.</p>
      <p class="text-uppercase">Uppercased text.</p>
      <p class="text-capitalize">CapiTaliZed text.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Font weight and italics</h4>
    </div>
    <div class="card-body">
      <p class="font-weight-bold">Bold text.</p>
      <p class="font-weight-normal">Normal weight text.</p>
      <p class="font-italic">Italic text.</p>
    </div>
  </div>
</div>