<div class="page--headline d-flex align-items-center mb-3">
  <div class="container">
    <div class="page-section mb-0">
      <h1 class="h2 mb-0">Material Icons</h1>
      <div class="text-light">Access 932 material design icons, available in a variety of sizes and densities, and as a web font.</div>
    </div>
  </div>  
</div>

<div class="container container--wide">
  <ol class="breadcrumb">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="#">UI Components</a>
    </li>
    <li>
      Icons
    </li>
  </ol>

  <div class="card">
    <div class="card-body">
      {% include '_material-icons.html' %}
    </div>
  </div>
</div>