<div class="container-fluid learning-video">
  <div class="container w-75">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/97243285?title=0&byline=0&portrait=0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="learning-header">
  <div class="media">
    <div>
      <h4 class="mb-0">Lesson: Introduction</h4>
      <p class="text-muted mb-0">
        Web Design Beginner Course
      </p>
    </div>
    <div class="align-self-center ml-auto">
      <div class="badge badge-warning">Incomplete</div>
    </div>
  </div>
</div>
<div class="container container--wide">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="p-2">
          <h6 class="text-muted m-0 d-flex"><i class="material-icons mr-1 md-18">comment</i> <span>3 Comments</span></h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="media align-items-center">
              <img src="assets/images/avatars/person-1.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="">
              <div class="media-body">
                <p class="mb-0">
                  I think that this is an awesome lesson. Keep up the good work!
                </p>
                <small class="mb-0 text-muted">
                  45 mins ago
                </small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media align-items-center">
              <img src="assets/images/avatars/person-7.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="">
              <div class="media-body">
                <p class="mb-0">
                  Great work!
                </p>
                <p class="mb-0 text-muted">
                  2 hrs ago
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media align-items-center">
              <img src="assets/images/avatars/person-2.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="">
              <div class="media-body">
                <p class="mb-0">
                  Everything worked exactly like you said it would.
                </p>
                <p class="mb-0 text-muted">
                  3 hrs ago
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-body bg-body-bg">
          <div class="form-group">
            <textarea name="comment" class="form-control bg-white" id="comment" rows="4" placeholder="Leave your comment..."></textarea>
          </div>
          <button type="submit" class="btn btn-success">Comment </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Lessons
          </h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action bg-primary text-white d-flex">
            <i class="material-icons md-18 mr-1 ">check_circle</i>
            <a href="#" class="text-white"><strong>Introduction</strong></a>
            <span class="ml-auto">4:20</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Design patterns</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Choosing the right tools for the job</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Configuring setup</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">First application</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Code patterns</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Front-end framworks</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Configuring bootstrap</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Second application</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <i class="material-icons text-muted align-middle md-18 mr-1">remove_red_eye</i>
            <a href="#" class="">Review</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>