<div class="container container--wide">
  <h2>Shopping Cart</h2>
  <p class="lead">
    Your current shopping cart items.
  </p>
  <hr>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-cart">
        <thead>
          <tr>
            <th>Items</th>
            <th class="text-center">Color</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="media align-items-center">
                <img src="assets/images/fabian-irsara-92113.jpg" alt="" class="m-2 img-thumbnail d-none d-sm-block" width="100">
                <div class="media-body">
                  <p class="h6 mb-1">Web development course</p>
                  <span class="text-muted">
                    #00990802
                  </span>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              <span class="badge badge-success">GREEN</span>
            </td>
            <td class="text-center align-middle">
              <select class="custom-select">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </td>
            <td class="text-right align-middle">
              <strong>&dollar;18.99</strong>
            </td>
            <td style="width:40px" class="align-middle">
                <a href="#" class="text-danger"><i class="material-icons align-middle md-18">remove_circle</i></a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media align-items-center">
                <img src="assets/images/mia-baker-322599.jpg" alt="" class="m-2 img-thumbnail d-none d-sm-block" width="100">
                <div class="media-body">
                  <p class="h6 mb-1">Macbook Pro</p>
                  <span class="text-muted">
                    #01250201
                  </span>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              <span class="badge badge-danger">RED</span>
            </td>
            <td class="text-center align-middle">
              <select class="custom-select">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </td>
            <td class="text-right align-middle">
              <strong>&dollar;2400.00</strong>
            </td>
            <td style="width:40px" class="align-middle">
                <a href="#" class="text-danger"><i class="material-icons align-middle md-18">remove_circle</i></a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media align-items-center">
                <img src="assets/images/mia-baker-322599.jpg" alt="" class="m-2 img-thumbnail d-none d-sm-block" width="100">
                <div class="media-body">
                  <p class="h6 mb-1">Macbook Pro</p>
                  <span class="text-muted">
                    #01250201
                  </span>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              <span class="badge badge-link-color">BLUE</span>
            </td>
            <td class="text-center align-middle">
              <select class="custom-select">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </td>
            <td class="text-right align-middle">
              <strong>&dollar;2400.00</strong>
            </td>
            <td style="width:40px" class="align-middle">
                <a href="#" class="text-danger"><i class="material-icons align-middle md-18">remove_circle</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="btn btn-white">
      <i class="material-icons align-middle">keyboard_arrow_left</i>
      <span class="align-middle">Continue shopping</span>
    </a>
    <div class="text-right">
      <p class="lead"><span class="mr-3">Total:</span> <strong> $4818,99</strong></p>
      <hr>
      <a href="checkout.html" class="btn btn-primary">
        <i class="material-icons md-18 align-middle mr-1">payment</i>
        <span class="align-middle">Checkout</span>
      </a>
    </div>
  </div>
</div>