<div class="container container--wide">
  <h2>Buttons</h2>
  <p class="lead">
    Use custom button styles for form actions, dialogs, and more with support for multiple sizes, states, and more.
  </p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Default Examples</h4>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-white">White</button>
      <button type="button" class="btn btn-link">Link</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Button Tags</h4>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="#" role="button">Link</a>
      <button class="btn btn-primary" type="submit">Button</button>
      <input class="btn btn-primary" type="button" value="Input">
      <input class="btn btn-primary" type="submit" value="Submit">
      <input class="btn btn-primary" type="reset" value="Reset">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Outline Buttons</h4>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Button Sizes</h4>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-white btn-lg">Large button</button>
      </div>
      <button type="button" class="btn btn-primary btn-sm">Small button</button>
      <button type="button" class="btn btn-white btn-sm">Small button</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Block level buttons
      </h4>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
      <button type="button" class="btn btn-white btn-lg btn-block">Block level button</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Active state</h4>
    </div>
    <div class="card-body">
      <button class="btn btn-primary btn-lg active" aria-pressed="true">Primary button</button>
      <button class="btn btn-white btn-lg active" aria-pressed="true">Secondary button</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Disabled state</h4>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
      <button type="button" class="btn btn-white btn-lg" disabled>Secondary button</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Single button dropdown</h4>
    </div>
    <div class="card-body">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Split button dropdown</h4>
    </div>
    <div class="card-body">
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Action</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Dropup Variation</h4>
    </div>
    <div class="card-body d-lg-flex">
      <div class="dropup mr-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropup button
        </button>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="btn-group dropup">
        <button type="button" class="btn btn-primary">Split dropup button</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Dropdown menu alignment</h4>
    </div>
    <div class="card-body d-lg-flex">
      <div class="btn-group mr-3">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          This dropdown's menu is right-aligned
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          This dropdown's menu is left-aligned
        </button>
        <div class="dropdown-menu dropdown-menu-left">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Dropdown menu headers, dividers and disabled items</h4>
    </div>
    <div class="card-body d-lg-flex">
      <div class="btn-group mr-3">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Dropdown header</h6>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="btn-group mr-3">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Divided link</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Regular link</a>
          <a class="dropdown-item disabled" href="#">Disabled link</a>
          <a class="dropdown-item" href="#">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>