<div class="container h-vh d-flex justify-content-center align-items-center flex-column">
  <div class="d-flex justify-content-center align-items-center mb-3">
    <span>{% include 'layouts/_logo.html' %}</span>
    <h2 class="ml-2 text-bg mb-0"><strong>Vision</strong></h2>
  </div>
  <div class="w-100">
    <div class="card card-auth mx-auto">
      <div class="card-body">
        <div class="form-group">
        <label>Email Address</label>
          <div class="input-group input-group--inline">
            <div class="input-group-addon">
              <i class="material-icons">account_circle</i>
            </div>
            <input type="text" class="form-control" name="email" placeholder="Your email address">
          </div>
        </div>
        <div class="text-center">
          <a href="index.html" class="btn btn-primary">Send</a>
        </div>
      </div>
    </div>
  </div>
</div>