<div class="page--headline d-flex align-items-center mb-3">
  <div class="container">
    <div class="page-section mb-0">
      <h1 class="h2 mb-0">Shopping Cart</h1>
      <div class="text-uppercase text-light">Your current shopping cart items</div>
    </div>
  </div>
</div>

<div class="container container--wide">
  <ol class="breadcrumb">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="#">Shop</a>
    </li>
    <li>
      Shopping Cart
    </li>
  </ol>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-cart">
        <thead>
          <tr>
            <th>Items</th>
            <th class="text-center">Color</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="media align-items-center">
                <img src="assets/images/fabian-irsara-92113.jpg" alt="" class="m-2 img-thumbnail d-none d-sm-block" width="100">
                <div class="media-body">
                  <p class="h6 mb-1">Web development course</p>
                  <span class="text-muted">
                    #00990802
                  </span>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              <span class="badge badge-success">Beginner</span>
            </td>
            <td class="text-center align-middle">
              <select class="custom-select">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </td>
            <td class="text-right align-middle">
              &dollar;18.99
            </td>
            <td style="width:40px" class="align-middle">
                <a href="#" class="text-danger"><i class="material-icons align-middle md-18">remove_circle</i></a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media align-items-center">
                <img src="assets/images/mia-baker-322599.jpg" alt="" class="m-2 img-thumbnail d-none d-sm-block" width="100">
                <div class="media-body">
                  <p class="h6 mb-1">Macbook Pro</p>
                  <span class="text-muted">
                    #01250201
                  </span>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              <span class="badge badge-danger">Advanced</span>
            </td>
            <td class="text-center align-middle">
              <select class="custom-select">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </td>
            <td class="text-right align-middle">
              &dollar;2400.00
            </td>
            <td style="width:40px" class="align-middle">
                <a href="#" class="text-danger"><i class="material-icons align-middle md-18">remove_circle</i></a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media align-items-center">
                <img src="assets/images/mia-baker-322599.jpg" alt="" class="m-2 img-thumbnail d-none d-sm-block" width="100">
                <div class="media-body">
                  <p class="h6 mb-1">Macbook Pro</p>
                  <span class="text-muted">
                    #01250201
                  </span>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              <span class="badge badge-link-color">PRO</span>
            </td>
            <td class="text-center align-middle">
              <select class="custom-select">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </td>
            <td class="text-right align-middle">
              &dollar;2400.00
            </td>
            <td style="width:40px" class="align-middle">
                <a href="#" class="text-danger"><i class="material-icons align-middle md-18">remove_circle</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="btn btn-outline-secondary">
      <i class="material-icons align-middle">keyboard_arrow_left</i>
      <span class="align-middle">Back to Shop</span>
    </a>
    <div class="text-right">
      <p class="lead"><span class="mr-3">Total:</span> <strong> $4818,99</strong></p>
      <a href="#" class="btn btn-primary">
        <i class="material-icons md-18 align-middle mr-1">payment</i>
        <span class="align-middle">Checkout</span>
      </a>
    </div>
  </div>
</div>