<div class="container-fluid">
  <div class="mb-3">
    <div class="float-right">
      <button class="btn btn-primary d-print-none" onclick="window.print()">Print</button>
    </div>
    <h4>Company LTD</h4>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 mb-3">
      <div class="mb-1">1st Main Street</div>
      <div class="mb-1">95014 Cuperino, CA</div>
      <div class="mb-3">United States</div>
      <div class="mb-1">Phone: 900-000-2753</div>
      <div>Fax: 900-000-2753</div>
    </div>
    <div class="col-md-6 mb-3 text-right">
      <h4>Invoice <span class="text-primary">#1232112</span></h4>
      <div class="mb-1"><span class="text-muted">Order date:</span> 7th Feb 2018</div>
      <div class="mb-1"><span class="text-muted">Order ID:</span> #1232112</div>
      <div><span class="text-muted">Order status:</span> <span class="badge badge-success">Shipped</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <h6 class="mb-0 text-primary">CLIENT:</h6>
        <p class="lead">Karen Smith</p>

          <div class="mb-1">1st Main Street, 9833</div>
          <div class="mb-1">4th Floor, Ap. 35</div>
          <div class="mb-1">Phone: 900-000-2753</div>
          <div>Email: <a href="#">karen_smith@email.com</a></div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body">
        <h6 class="mb-0 text-primary">DELIVER TO:</h6>
        <p class="lead">Karen Smith</p>

          <div class="mb-1">1st Main Street, 9833</div>
          <div class="mb-1">4th Floor, Ap. 35</div>
          <div class="mb-1">Phone: 900-000-2753</div>
          <div>Email: <a href="#">karen_smith@email.com</a></div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-striped mb-0">
        <thead>
          <tr>
            <th style="width: 60px">QTY</th>
            <th>DESCRIPTION</th>
            <th style="width: 140px">UNIT PRICE</th>
            <th style="width: 90px">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Web development course</td>
            <td>$18.99</td>
            <td>$18.99</td>
          </tr>
          <tr>
            <td>1</td>
            <td>MacBook Pro</td>
            <td>$2400.00</td>
            <td>$2400.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-11 text-right">
      <div class="mb-1">
        <strong>Subtotal</strong>
      </div>
      <div class="mb-1">
        <strong>Shipping</strong>
      </div>
      <div class="mb-1">
        <strong>VAT Included in Total</strong>
      </div>
      <div>
        <strong>Total</strong>
      </div>
    </div>
    <div class="col-md-1">
      <div class="mb-1">&dollar;2418.99</div>
      <div class="mb-1">&dollar;0.00</div>
      <div class="mb-1">&dollar;0.00</div>
      <strong>&dollar;2418.99</strong>
    </div>
  </div>
</div>