<div class="container container--wide">
  <h2>Loaders</h2>
  <p class="lead">
    Custom SVG loaders, spinners and dots.
  </p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Page loaders</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 col-md-3 text-center">
          <div class="loading-bard-wrapper">
            <div class="loading-bars"></div>
          </div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-tail"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-circle"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-circle-border"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Dots</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots-active"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots-fast"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots-horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>