<div class="container container--wide">
  <div class="page-section">
    <div class="float-right">
       <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newTicketModal">New Ticket <i class="material-icons md-18 align-bottom">add</i></a>
    </div>
    <h2>Tickets</h2>
  </div>

  <div class="card-deck">
    <div class="card p-2">
      <div class="media align-items-center">
        <div class="mr-2 p-2">
          <i class="material-icons md-48 text-success">check_circle</i>
        </div>
        <div class="media-body">
          <h3 class="mb-0"><strong>861</strong></h3>
            <span class="text-muted">COMPLETED TICKETS</span>
        </div>
      </div>
    </div>
    <div class="card p-2">
      <div class="media align-items-center">
        <div class="mr-2 p-2">
          <i class="material-icons md-48 text-warning">flag</i>
        </div>
        <div class="media-body">
          <h3 class="mb-0"><strong>12</strong></h3>
            <span class="text-muted">ACTIVE TICKETS</span>
        </div>
      </div>
    </div>

    <div class="card p-2">
      <div class="media align-items-center">
        <div class="mr-2 p-2">
          <i class="material-icons md-48 text-danger">close</i>
        </div>
        <div class="media-body">
          <h3 class="mb-0"><strong>5</strong></h3>
          <span class="text-muted">CLOSED TICKETS</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="table-responsive">
    <table class="table mb-0 table-flush">
      <thead class="thead-default">
        <tr>
          <th class="text-uppercase" style="width:110px">Date</th>
          <th class="text-uppercase">Description</th>
          <th class="text-uppercase text-center" style="width:100px">Ticket No.</th>
          <th class="text-uppercase text-center" style="width:60px">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="text-muted">5 mins ago</span>
          </td>
          <td>
            <div class="media">
              <div class="media-body">
                <a href="#">Bug fixes for initial release</a> was updated by <a href="#">Themefy</a>
                <div>
                  <span class="text-muted">Milestone: <a href="#" class="text-muted">Initial Release</a></span>
                </div>
              </div>
            </div>
          </td>
          <td class="align-middle text-center">
            <a href="#">
              1224
            </a>
          </td>
          <td class="align-middle text-right">
            <div class="badge badge-success">resolved</div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-muted">48 mins ago</span>
          </td>
          <td>
            <div class="media">
              <div class="media-body">
                <a href="#">Style cleanup and code refactor on Alpha release</a> was updated by <a href="#">Karen</a>
                <div>
                  <span class="text-muted">Milestone: <a href="#" class="text-muted">Aplha Release</a></span>
                </div>
              </div>
            </div>
          </td>
          <td class="align-middle text-center">
            <a href="#">
              283
            </a>
          </td>
          <td class="align-middle text-right">
            <div class="badge badge-success">resolved</div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-muted">9 hrs ago</span>
          </td>
          <td>
            <div class="media">
              <div class="media-body">
                <a href="#">Updated asset pipeline configuration on Initial release</a> was updated by <a href="#">Simon</a>
                <div>
                  <span class="text-muted">Milestone: <a href="#" class="text-muted">Initial Release</a></span>
                </div>
              </div>
            </div>
          </td>
          <td class="align-middle text-center">
            <a href="#">
              1225
            </a>
          </td>
          <td class="align-middle text-right">
            <div class="badge badge-success">resolved</div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-muted">13 hrs ago</span>
          </td>
          <td>
            <div class="media">
              <div class="media-body">
                <a href="#">Fixed visual bugs on lists</a> was updated by <a href="#">John</a>
                <div>
                  <span class="text-muted">Milestone: <a href="#" class="text-muted">Bug Fixes</a></span>
                </div>
              </div>
            </div>
          </td>
          <td class="align-middle text-center">
            <a href="#">
              129
            </a>
          </td>
          <td class="align-middle text-right">
            <div class="badge badge-warning">active</div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-muted">1 day ago</span>
          </td>
          <td>
            <div class="media">
              <div class="media-body">
                <a href="#">Added global styling on tables</a> was updated by <a href="#">John</a>
                <div>
                  <span class="text-muted">Milestone: <a href="#" class="text-muted">Global Styling</a></span>
                </div>
              </div>
            </div>
          </td>
          <td class="align-middle text-center">
            <a href="#">
              304
            </a>
          </td>
          <td class="align-middle text-right">
            <div class="badge badge-danger">closed</div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-muted">2 days ago</span>
          </td>
          <td>
            <div class="media">
              <div class="media-body">
                <a href="#">Added progress bars on dashboard</a> was updated by <a href="#">Karen</a>
                <div>
                  <span class="text-muted">Milestone: <a href="#" class="text-muted">Global Styling</a></span>
                </div>
              </div>
            </div>
          </td>
          <td class="align-middle text-center">
            <a href="#">
              223
            </a>
          </td>
          <td class="align-middle text-right">
            <div class="badge badge-warning">active</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>