<div class="page--headline d-flex align-items-center mb-3">
  <div class="container">
    <div class="page-section mb-0">
      <h1 class="h2 mb-0">Loaders</h1>
      <div class="text-light">Custom SVG loaders, spinners and dots.</div>
    </div>
  </div>  
</div>

  
<div class="container container--wide">
  <ol class="breadcrumb">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="#">UI Components</a>
    </li>
    <li>
      Loaders
    </li>
  </ol>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Page loaders</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 col-md-3 text-center">
          <div class="loading-bard-wrapper">
            <div class="loading-bars"></div>
          </div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-tail"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-circle"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-circle-border"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Dots</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots-active"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots-fast"></div>
        </div>
        <div class="col-6 col-md-3 text-center">
          <div class="loading-dots-horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>