<div class="container-fluid">
  <h2>Navs</h2>
  <p class="lead">
    Documentation and examples on navigation components.
  </p>
  <hr>

      <ul class="nav mb-2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
          <div class="card">
            <div class="card-body">
              <h4>Home</h4>
             <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
             </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
          <div class="card">
            <div class="card-body">
              <h4>Profile</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel">
          <div class="card">
            <div class="card-body">
              <h4>Contact</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
              </p>
            </div>
          </div>
        </div>
      </div>


  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Pills</h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills mb-2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home2" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores nostrum dicta sit labore iure distinctio nulla natus, est ab officia tenetur omnis explicabo perferendis architecto aperiam impedit, numquam. Similique.
        </div>
        <div class="tab-pane fade" id="profile2" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
        </div>
        <div class="tab-pane fade" id="contact2" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat iste repudiandae aliquam vitae libero in blanditiis numquam praesentium, neque maiores quae ipsum architecto porro totam, voluptas voluptatem nisi deserunt laborum?
        </div>
      </div>
    </div>
  </div>
  <h2>Alignment</h2>
  <p class="lead">Align your navs using flexbox utilities.</p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Center</h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs mb-2 justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="tab" href="#home3" role="tab" aria-controls="home3" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile3" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact3" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home3" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores nostrum dicta sit labore iure distinctio nulla natus, est ab officia tenetur omnis explicabo perferendis architecto aperiam impedit, numquam. Similique.
        </div>
        <div class="tab-pane fade" id="profile3" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
        </div>
        <div class="tab-pane fade" id="contact3" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat iste repudiandae aliquam vitae libero in blanditiis numquam praesentium, neque maiores quae ipsum architecto porro totam, voluptas voluptatem nisi deserunt laborum?
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">End</h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs mb-2 justify-content-end" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="tab" href="#home4" role="tab" aria-controls="home4" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile4" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact4" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home4" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores nostrum dicta sit labore iure distinctio nulla natus, est ab officia tenetur omnis explicabo perferendis architecto aperiam impedit, numquam. Similique.
        </div>
        <div class="tab-pane fade" id="profile4" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
        </div>
        <div class="tab-pane fade" id="contact4" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat iste repudiandae aliquam vitae libero in blanditiis numquam praesentium, neque maiores quae ipsum architecto porro totam, voluptas voluptatem nisi deserunt laborum?
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Vertical</h4>
    </div>
    <div class="card-body d-flex">
      <ul class="nav nav-pills flex-column mr-2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="tab" href="#home-vertical" role="tab" aria-controls="home-vertical" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile-vertical" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact-vertical" role="tab" aria-controls="contact-vertical" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home-vertical" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores nostrum dicta sit labore iure distinctio nulla natus, est ab officia tenetur omnis explicabo perferendis architecto aperiam impedit, numquam. Similique.
        </div>
        <div class="tab-pane fade" id="profile-vertical" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
        </div>
        <div class="tab-pane fade" id="contact-vertical" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat iste repudiandae aliquam vitae libero in blanditiis numquam praesentium, neque maiores quae ipsum architecto porro totam, voluptas voluptatem nisi deserunt laborum?
        </div>
      </div>
    </div>
  </div>
  <h2>Dropdowns</h2>
  <p class="lead">Dropdown menus can be added directly in the <code>.nav-link</code>.</p>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Nav tabs dropdown
      </h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs mb-2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="tab" href="#home5" role="tab" aria-controls="home5" aria-selected="true">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact5" role="tab" aria-controls="contact5" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home5" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores nostrum dicta sit labore iure distinctio nulla natus, est ab officia tenetur omnis explicabo perferendis architecto aperiam impedit, numquam. Similique.
        </div>
        <div class="tab-pane fade" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
        </div>
        <div class="tab-pane fade" id="contact5" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat iste repudiandae aliquam vitae libero in blanditiis numquam praesentium, neque maiores quae ipsum architecto porro totam, voluptas voluptatem nisi deserunt laborum?
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Nav pills dropdown
      </h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills mb-2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="tab" href="#home6" role="tab" aria-controls="home5" aria-selected="true">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact6" role="tab" aria-controls="contact5" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home6" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores nostrum dicta sit labore iure distinctio nulla natus, est ab officia tenetur omnis explicabo perferendis architecto aperiam impedit, numquam. Similique.
        </div>
        <div class="tab-pane fade" id="profile6" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium similique consequuntur, vero possimus, praesentium itaque reiciendis beatae! Cupiditate qui facere dignissimos, ducimus, sapiente ipsum recusandae, molestiae nobis architecto, natus accusantium.
        </div>
        <div class="tab-pane fade" id="contact6" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat iste repudiandae aliquam vitae libero in blanditiis numquam praesentium, neque maiores quae ipsum architecto porro totam, voluptas voluptatem nisi deserunt laborum?
        </div>
      </div>
    </div>
  </div>
</div>