---
title: Vision
slug: ui-carousel
category: ui
pageClass: top-navbar--soft
navbarClass: navbar-light bg-white
---
{% extends "./layouts/fixed.html" %}

{% block head %}
<style>
.card__title {
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  margin: 0 !important;
  line-height: 1 !important;
}
.card__title--raised {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .2s;
  transform: translate3d(0, -100%, 0);
  color: #fff !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  margin: 0;
  padding: 1.25rem;
  font-size: 2rem !important;
}
.card-body {
  position: relative;
}
.card-image--overlay {
  position: relative;
  z-index: 0;
}
.card-image--overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0, 0, 0, .5);
}
.avatar {
  margin-right: 1rem;
}
@media (max-width: 554px) {
  .avatar img {
    max-width: 40px;
  }
}
blockquote {
  margin-bottom: 0;
  display: flex;
}
blockquote p {
  flex: 1;
}
</style>
{% endblock %}