<div class="footer text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-4">
            <h4>Layouts</h4>
            <ul>
              <li><a href="">Default Layout</a></li>
              <li><a href="">Fluid Layout</a></li>
              <li><a href="">Drawer Layout</a></li>
              <li><a href="">Drawer Layout</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Pages</h4>
            <ul>
              <li><a href="">Default Layout</a></li>
              <li><a href="">Fluid Layout</a></li>
              <li><a href="">Drawer Layout</a></li>
              <li><a href="">Drawer Layout</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Components</h4>
            <ul>
              <li><a href="">Default Layout</a></li>
              <li><a href="">Fluid Layout</a></li>
              <li><a href="">Drawer Layout</a></li>
              <li><a href="">Drawer Layout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p>
          <a href="" class="rounded-circle"></a>
          <a href="" class="rounded-circle"></a>
          <a href="" class="rounded-circle"></a>
        </p>
        <ul>
          <li><a href="">www.frontted.com</a></li>
          <li><a href="">contact@frontted.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer footer-bg-darker text-center">
  <div class="container">
    <p><a href="" class="rounded-circle">V</a></p>
    Need help to get started with Vision? <a href="">Cilck here</a>
  </div>
</div>