<div class="footer text-center text-sm-left">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-4">
            <h4>Demo Layouts</h4>
            <ul>
              <li><a href="/index.html">Fixed (default)</a></li>
              <li><a href="/fluid.html">Fluid App</a></li>
              <li><a href="/sidebar-full-light.html">Light Sidebar</a></li>
              <li><a href="/sidebar-full-dark.html">Dark Sidebar</a></li>
            </ul>
          </div>
          <div class="col-sm-8">
            <h4>About</h4>
            <p>We’re a team of Front-End Developers passionate about creating targeted/focused real world User Interfaces components.

              Since 2012 we have been creating UI for Enterprises and crafted douzins of Admin themes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p>Find us</p>
        <p>
          <a href="https://twitter.com/frontted_themes" class="rounded-circle socicon-twitter"></a>
          <a href="https://themeforest.net/user/frontted/portfolio?ref=Frontted" class="rounded-circle socicon-envato"></a>
          <a href="https://www.frontted.com" class="rounded-circle"><i class="material-icons">link</i></a>
        </p>
        <ul>
          <li>Get Help</li>
          <li><a href="">contact@frontted.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer footer-bg-darker text-center">
  <small>Copyright &copy; 2018 - <a href="https://www.frontted.com">Frontted.com</a> - Admin Vision</small>
</div>