<nav class="navbar navbar-fixed navbar-expand-lg {{ navbarClass if navbarClass else 'navbar--primary' }}">
  <a class="h4 mb-0 text-uppercase navbar-brand" href="index.html">Vision</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="#" class="btn-search d-sm-none">
    <i class="material-icons md-18 align-middle">search</i>
  </a>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav navbar-center">
      <li class="nav-item dropdown ml-0 text-uppercase {% if slug == 'index' %}active {% endif %}">
        <a href="index.html" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item dropdown text-uppercase">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Layouts</a>
        <div class="dropdown-menu">
          <a href="index.html" class="dropdown-item">Fixed</a>
          <a href="dashboard.html" class="dropdown-item">Dashboard</a>
          <a href="sidebar-full-light.html" class="dropdown-item">Sidebar Full Light</a>
          <a href="sidebar-full-dark.html" class="dropdown-item">Sidebar Full Dark</a>
        </div>
      </li>
      <li class="nav-item dropdown text-uppercase {% if category == 'pages' %}active {% endif %}">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Pages</a>
        <div class="dropdown-menu">
          <a href="account.html" class="dropdown-item">Account</a>
          <a href="activity-timeline.html" class="dropdown-item">Activity Timeline</a>
          <a href="blog-post.html" class="dropdown-item">Blog Post</a>
          <a href="error.html" class="dropdown-item">Error</a>
          <a href="invoice.html" class="dropdown-item">Invoice</a>
          <a href="pricing.html" class="dropdown-item">Pricing</a>
          <a href="lessons.html" class="dropdown-item">Lessons</a>
          <a href="lessons-2.html" class="dropdown-item">Lessons 2</a>
          <a href="learning.html" class="dropdown-item">Learning</a>
          <a href="tickets.html" class="dropdown-item">Tickets</a>
          <a href="cart.html" class="dropdown-item">Shopping Cart</a>
          <a href="login.html" class="dropdown-item">Login</a>
          <a href="sigup.html" class="dropdown-item">Sign Up</a>
          <a href="forgot-password.html" class="dropdown-item">Forgot Password</a>
        </div>
      </li>
      <li class="nav-item dropdown text-uppercase">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Components</a>
        <div class="dropdown-menu">
          <a href="ui-buttons.html" class="dropdown-item">Buttons</a>
          <a href="ui-colors.html" class="dropdown-item">Colors</a>
          <a href="ui-grid.html" class="dropdown-item">Grid</a>
          <a href="ui-typography.html" class="dropdown-item">Typography</a>
          <a href="ui-drag-drop.html" class="dropdown-item">Drag &amp; Drop</a>
          <a href="ui-tables.html" class="dropdown-item">Tables</a>
          <a href="ui-notifications.html" class="dropdown-item">Notifications</a>
          <a href="ui-loaders.html" class="dropdown-item">Loaders</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item nav-emails">
        <i class="material-icons align-middle">email</i>
      </li>

      <li class="nav-item nav-messages">
        <i class="material-icons align-middle">message</i>
      </li>

      <li class="nav-item nav-notifications">
        <i class="material-icons align-middle">notifications</i>
      </li>

      <li class="nav-item nav-account">
        {% include 'layouts/_logo.html' %}
      </li>
    </ul>
  </div>
</nav>