<nav class="navbar navbar-main navbar-expand-lg bg-primary">
  <a class="h4 mb-0 text-uppercase navbar-brand" href="index.html">Vision</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="#" class="btn-search">
    <i class="material-icons md-18 align-middle">search</i>
  </a>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item nav-emails">
        <i class="material-icons align-middle">email</i>
      </li>

      <li class="nav-item nav-messages">
        <i class="material-icons align-middle">message</i>
      </li>

      <li class="nav-item nav-notifications">
        <i class="material-icons align-middle">notifications</i>
      </li>

      <li class="nav-item nav-account">
        <img src="https://pbs.twimg.com/profile_images/928893978266697728/3enwe0fO_400x400.jpg" class="img-fluid rounded-circle ml-1" width="45"
        alt="">
      </li>
    </ul>
  </div>
</nav>