<nav class="navbar navbar-main navbar-expand-lg {{ navbarClass if navbarClass else 'navbar--primary' }}">
  <a class="h4 mb-0 text-uppercase navbar-brand" href="index.html">Vision</a>

  <button class="btn btn-link navbar-toggler pl-0" type="button" data-toggle="sidebar">
    <i class="material-icons align-middle md-36">short_text</i>
  </button>

  <a href="#" class="btn-search">
    <i class="material-icons md-18 align-middle">search</i>
  </a>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item nav-emails">
        <div class="dropdown">
          <a class="dropdown-toggle dropdown-clear-caret" href="#" id="emailsNavDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons align-middle">email</i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="emailsNavDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </li>

      <li class="nav-item nav-emails">
        <div class="dropdown">
          <a class="dropdown-toggle dropdown-clear-caret" href="#" id="messagessNavDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons align-middle">message</i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagessNavDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </li>

      <li class="nav-item nav-emails">
        <div class="dropdown">
          <a class="dropdown-toggle dropdown-clear-caret" href="#" id="notificationsNavDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons align-middle">notifications</i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsNavDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </li>

      <li class="nav-item nav-account">
        {% include 'layouts/_logo.html' %}
      </li>
    </ul>
  </div>
</nav>