<nav class="navbar navbar-main navbar-expand-lg {{ navbarClass if navbarClass else 'navbar--primary' }}">

  <button class="btn btn-link navbar-toggler pl-0" type="button" data-toggle="sidebar">
    <i class="material-icons align-middle md-36">short_text</i>
  </button>

  <a href="#" class="btn-search mr-2">
    <i class="material-icons md-18 align-middle">search</i>
  </a>

  <span class="text-light">Search</span>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item nav-dropdown">
        <div class="dropdown">
          <a class="dropdown-toggle dropdown-clear-caret" href="#" id="emailsNavDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons align-middle">email</i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="emailsNavDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </li>

      <li class="nav-item nav-dropdown">
        <div class="dropdown">
          <a class="dropdown-toggle dropdown-clear-caret" href="#" id="messagessNavDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons align-middle">message</i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagessNavDropdown">
            <div class="p-3">
              <div class="d-flex align-items-center justify-content-between mb-3">
                <div>Notifications</div>
                <i class="material-icons align-middle">search</i>
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    <i class="material-icons align-middle">home</i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="material-icons align-middle">error_outline</i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                    <i class="material-icons align-middle">people</i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item nav-account">
        {% include 'layouts/_logo.html' %}
      </li>
    </ul>
  </div>
</nav>