<nav class="navbar navbar-fixed navbar-expand-lg {{ navbarClass if navbarClass else 'navbar--primary' }}">
  <a class="h4 mb-0 text-uppercase navbar-brand" href="index.html">Vision</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="#" class="btn-search d-sm-none">
    <i class="material-icons md-18 align-middle">search</i>
  </a>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav navbar-center">
      <li class="nav-item dropdown ml-0 text-uppercase {% if slug == 'index' %}active {% endif %}">
        <a href="index.html" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item dropdown text-uppercase">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Layouts</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Layout 1</a>
          <a href="#" class="dropdown-item">Layout 2</a>
          <a href="#" class="dropdown-item">Layout 3</a>
        </div>
      </li>
      <li class="nav-item dropdown text-uppercase">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Pages</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Page 1</a>
          <a href="#" class="dropdown-item">Page 2</a>
          <a href="#" class="dropdown-item">Page 3</a>
          <a href="#" class="dropdown-item">Page 4</a>
          <a href="#" class="dropdown-item">Page 5</a>
        </div>
      </li>
      <li class="nav-item dropdown text-uppercase">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Components</a>
        <div class="dropdown-menu">
          <a href="ui-buttons.html" class="dropdown-item">Buttons</a>
          <a href="ui-colors.html" class="dropdown-item">Colors</a>
          <a href="ui-grid.html" class="dropdown-item">Grid</a>
          <a href="ui-typography.html" class="dropdown-item">Typography</a>
          <a href="ui-drag-drop.html" class="dropdown-item">Drag &amp; Drop</a>
          <a href="ui-tables.html" class="dropdown-item">Tables</a>
          <a href="ui-notifications.html" class="dropdown-item">Notifications</a>
          <a href="ui-loaders.html" class="dropdown-item">Loaders</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item nav-emails">
        <i class="material-icons align-middle">email</i>
      </li>

      <li class="nav-item nav-messages">
        <i class="material-icons align-middle">message</i>
      </li>

      <li class="nav-item nav-notifications">
        <i class="material-icons align-middle">notifications</i>
      </li>

      <li class="nav-item nav-account">
        <img src="https://pbs.twimg.com/profile_images/928893978266697728/3enwe0fO_400x400.jpg" class="img-fluid rounded-circle ml-1" width="45"
        alt="">
      </li>
    </ul>
  </div>
</nav>